/* Breadcrumbs */
.breadcrumbs {
    text-transform: capitalize;
    color: #000000;
    margin: 20px auto;
    width: fit-content;
    padding: 16px;
    border: 0.5px solid var(--color-border);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.product-wrapper:not(.layout-contained) .breadcrumbs {
    position: absolute;
    top: calc(var(--header-height, 56px) + 12px);
    left: 16px;
    z-index: 1;
}

.layout-contained .breadcrumbs {
    padding: 1rem 0;
    order: 1;
    flex: 0 0 100%;
    text-align: center;
}

.breadcrumbs span[aria-hidden="true"] {
    margin: 0 0.5rem;
}

.breadcrumbs a,
.breadcrumbs span {
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}

.layout-contained {
    padding: 0;
}

.product__media .video-icon svg {
    background: rgba(0, 0, 0, .5);
    border-radius: 100%;
    z-index: 2;
}

#main-carousel .video-icon {
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.product__media .fill-container,
.product__media .icon--pause {
    fill: #ffffff;
}

#thumbnail-carousel {
    display: none;
}

#main-carousel.splide:not(.splide__pagination--alt) {
    padding-bottom: 0;
}

#main-carousel .splide__pagination {
    bottom: 0.5rem;
}

.splide__pagination__page.video {
    border-width: 6px 0px 6px 10px;
    border-color: transparent transparent transparent var(--color-primary-text);
    border-radius: 0
}

.splide__pagination__page.video.is-active,
.splide__pagination__page.video:hover {
    background: none;
}

.product__info-container {
    padding: 1rem;
    color: #000000;
    background-image: none;
}

.product__info>div:last-child {
    margin-bottom: 0;
}

.product__description {
    position: relative;
    padding-right: 20px;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-bottom: 4px;
}

.product__info-container variant-radios .product-form__input:not(.color) input:checked+label {
    background-color: #000000;
    color: #ffffff;
}

.quantity-wrapper {
    margin-bottom: 1rem;
}

.quantity-wrapper label {
    margin-bottom: .5rem;
}

.quantity__input {
    border: 1px solid var(--color-border);
    border-radius: 0;
    background: transparent;
    width: 40px;
    text-align: center;
    padding: 8px;
    text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.product-form__submit {
    background-color: #000000;
}

.product__text.text-uppercase {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.product-tabs {
    margin-bottom: 2rem;
}

.product__info .price {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.badge {
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 8px;
    border: 1px solid;
}

.product__info variant-radios {
    margin: 1rem 0;
}

.product__info legend {
    text-transform: capitalize;
    font-size: 12.8px;
    line-height: 16px;
}

.product__info #selectedOption {
    font-weight: 400;
}

.product__info .size #selectedOption {
    text-transform: uppercase;
}

.product__info fieldset:not(.color) legend {
    margin-bottom: 8px;
}

.product-form {
    padding-bottom: 2rem;
}

.product-form--dynamic-checkout {
    min-height: 112px;
}

/* Reviews */
.shopify-app-block[data-block-handle="reviews"] {
    border-top: 1px solid;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.rating {
    display: inline-block;
    margin: 0;
}

.rating-star {
    --letter-spacing: 0.25;
    --font-size: 1;
}

.rating-star {
    --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
    letter-spacing: calc(var(--letter-spacing) * 1rem);
    font-size: calc(var(--font-size) * 1rem);
    line-height: 16px;
}

.rating-star::before {
    content: '★★★★★';
    background: linear-gradient(90deg,
            #000000 var(--percent),
            rgba(163, 163, 163, 0.15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product__info-container .spr-container {
    padding: 0;
    border: none;
    text-align: center;
}

.product__info-container .spr-container * {
    font-size: 12px;
    line-height: normal;
}

.product__info-container .spr-header-title {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 1rem;
}

.product__info-container .spr-form {
    display: block;
    max-width: 300px;
    margin: 0 auto 24px;
    border: none;
}

.product__info-container .spr-form .spr-form-title {
    font-family: var(--font-body);
    text-transform: uppercase;
}

.product__info-container .spr-form label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

.product__info-container .spr-form input {
    margin: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
}

.product__info-container .spr-form .spr-form-actions {
    display: flex;
    justify-content: center;
}

.product__info-container .spr-form [type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 10px;
}

.product__info-container #shopify-product-reviews {
    margin: 0;
}

.product__info-container .spr-summary-caption {
    margin-bottom: 1rem;
}

.product__info-container .spr-summary>span {
    display: block;
}

.product__info-container .spr-summary-actions-newreview {
    display: inline-block;
    float: none;
    padding: 0.5rem 1.75rem;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.product__info-container .spr-review-footer {
    margin-bottom: 0;
}

.product__info-container .spr-review-reportreview {
    float: none;
}

.product__info-container .spr-review {
    margin-top: 32px;
    padding: 0;
    border: none;
}

.product__info-container .spr-reviews,
.product__info-container .spr-review:first-child {
    margin-top: 0;
}

.product__info-container .spr-summary {
    margin-bottom: 32px;
}

/* Share */
.share-buttons,
.social-sharing {
    gap: .5rem;
}

.social-sharing a {
    flex: 0 0 24px;
}

.social-sharing svg path {
    fill: #000;
}

.share-button {
    margin-bottom: 1rem;
}

.share-button .details__content {
    z-index: 1;
    background-color: var(--color-primary-background);
}

.share-button .details__content-inner {
    border: 1px solid;
}

.share-button .input-field {
    width: 92%;
}

.share-button input {
    -webkit-appearance: none;
    border: none;
    border-right: 1px solid;
    padding: 0.5rem;
    background: transparent;
    width: 100%;
}

.share-button .btn--copy {
    padding: 0 1rem;
}

.share-success-message {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.share-success-message svg {
    margin-right: .5rem;
}

.layout-contained .product__media {
    display: flex;
    flex-wrap: wrap;
}

.product__info-subdetails .product__info-subdetails-payments {
    font-size: 8px;
}

.product__info-subdetails .product__info-select-size-trigger {
    margin-bottom: 120px;
}

.product-slider-mobile__title {
    display: none;
}

.product-drawer-trigger-btn {
    margin-top: 40px;
}

.metafield-rich_text_field ul {
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .breadcrumbs {
        max-width: 350px;
    }

    .product__info-subdetails .product__info-select-size-trigger {
        margin-bottom: 60px;
    }

    #main-carousel .external-video__cover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        z-index: 1;
    }

    #main-carousel .external-video__cover::after {
        content: '';
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 32%;
        z-index: 1;
    }

    #main-carousel .external-video__cover.external-video--vimeo::before {
        height: 60%;
    }

    #main-carousel .external-video__cover.external-video--vimeo::after {
        bottom: 0;
        height: 15%;
    }

    .product__info-subdetails .product__title {
        text-align: center;
    }

    .product-wrapper .product__info-container {
        padding: 0px;
    }

    .product__info-container .product__info .product__block-container {
        padding: 60px 15px;
    }

    .product__info .product__block-container.product__block-no-padding {
        padding: 100px 0px 0px 0px !important;
        border-bottom: none;
    }

    .product__info .product__block-container.product__block-no-padding .product__info-subdetails {
        padding: 0 15px;
    }

    .product__info .product-slider-mobile {
        padding-top: 10px;
        display: block;
    }

    .description-heading {
        text-align: center;
        max-width: 224px;
        margin: 0 auto;
        position: absolute;
        top: -113px;
        left: 0;
        right: 0;
    }

    .product__info .product-slider-mobile .slideshow-two__pages {
        position: absolute;
        bottom: 8px;
        right: 15px;
        z-index: 1;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.04em;
    }

    .product__info .product-slider-mobile .splide__arrows {
        position: absolute;
        bottom: 8px;
        left: 15px;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .product__info .product-slider-mobile .splide__arrow,
    .product__info .product-slider-mobile .slideshow-controls span {
        display: none;
    }

    .product__info .product-slider-mobile .slideshow-controls {
        padding: 0px;
    }

    .product__info .product-slider-mobile .splide li img {
        height: 100%;
        object-fit: cover;
    }

    .product__info .product-slider-mobile .splide__track {
        padding-bottom: 30px;
    }

    .product-wrapper .product__media {
        display: none;
    }
}

#main-carousel li {
    cursor: zoom-in;
}

.product__info-subdetails .product__info-select-size-trigger {
    padding: 15px 68px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    gap: 6px;
    margin-top: 30px;
}

.product__info-subdetails .product__info-select-size-trigger svg path {
    fill: white;
}

.product__info-container .product__info-select-size-trigger-klaviyo {
    display: none !important;
}

.product__info-container .product__info-select-size-trigger-klaviyo.all-out {
    display: flex !important;
}

.product__info-subdetails-color {
    padding-left: 10px;
    gap: 6px;
    cursor: pointer;
}

.size-fit-container {
    position: relative;
}

.size-guide-trigger {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
}

.product__info .product__block-container {
    padding: 15px;
    border-bottom: 0.5px solid var(--color-border);
}

.product__zoom #zoom-carousel .splide__slide img {
    height: 100vh;
    object-fit: cover;
}

.product__zoom #zoom-carousel {
    overflow-y: scroll;
    padding: 0 !important;
    visibility: hidden;
}

#zoom-carousel-close {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

#zoom-carousel-close svg {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

#zoom-carousel .zoom-carousel__paging {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
}

.zoom-show {
    visibility: visible !important;
}

.product__zoom #zoom-carousel .splide__arrows {
    position: fixed;
    bottom: 20px;
    left: 15px;
    z-index: 1;
    left: 15px;
    display: flex;
    gap: 10px;
}

.product__zoom #zoom-carousel .splide__arrow {
    position: relative;
    height: auto;
    top: unset;
    transform: none;
    left: unset;
    right: unset;
    border-radius: 50%;
    background-color: white;
    width: auto;
    padding: 7px
}

.product__info-subdetails-price-color {
    margin-top: 20px;
}

@media screen and (min-width: 769px) {
    #zoom-carousel-close {
        right: 32px;
    }

    .product__info .product-slider-mobile {
        display: none;
    }

    #zoom-carousel-close svg {
        padding: 8px;
        width: auto;
        height: auto;
    }

    .product__zoom #zoom-carousel .splide__arrows {
        gap: 15px;
    }

    .product__zoom #zoom-carousel .splide__arrow {
        padding: 12px
    }

    .product__zoom #zoom-carousel .splide__slide img {
        height: 100%;
    }

    body:not(.modal--open) .product__media {
        z-index: 2;
    }

    body.drawer--open .product__media {
        z-index: 1;
    }

    .layout-contained {
        padding: 0 1rem;
    }

    .layout-contained .product__media {
        gap: 0 1rem;
    }

    .layout-contained .breadcrumbs {
        text-align: left;
        order: 0;
    }

    .layout-contained.is-gallery .product__info-container {
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .product__media {
        max-width: 50%;
    }

    #main-carousel {
        padding: 0;
    }

    #main-carousel .media-video {
        min-height: 700px;
        z-index: 1;
    }

    #thumbnail-carousel {
        display: block;
        max-width: 80%;
        margin: auto;
        padding: 1rem;
    }

    #thumbnail-carousel .icon--play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #thumbnail-carousel img {
        height: 100%;
        object-fit: cover;
    }

    #thumbnail-carousel .splide__arrow--prev {
        left: -2.5em;
    }

    #thumbnail-carousel .splide__arrow--next {
        right: -2.5em;
    }

    .product__info-container {
        padding: 60px 0;
        overflow-y: auto;
        max-height: 100%;
    }

    .is-background .product__info-container {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .is-background .product__info-container {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .is-background .product__info {
        background-color: rgba(221, 221, 213, .75);
    }

    .product__info {
        padding: 0;
        background-color: var(--color-primary-background);
    }

    .product-wrapper.is-stacked .product__media {
        max-width: 100%;
        flex: 0 0 calc(100% - 500px);
        padding-left: 20px;
    }

    .product-wrapper.is-stacked .product__info-container {
        flex: 0 0 500px;
    }

    .product-wrapper.is-stacked #main-carousel-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-wrapper.is-stacked #main-carousel-list li video,
    .product-wrapper.is-stacked #main-carousel-list li img {
        object-fit: cover;
        height: 100%;
    }

    .product__info-container .product__title {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
    }

    .product__info-subdetails-price-color {
        margin-top: 30px;
    }

    .product__info-subdetails {}

    .product__info .product__block-container {
        padding: 40px;
        border-bottom: 0.5px solid var(--color-border);
    }
}

@media screen and (min-width: 1025px) {
    .layout-contained .breadcrumbs {
        order: 0;
    }

    .layout-contained #main-carousel {
        flex: 0 0 calc(100% - 106px);
        order: 1;
    }

    .layout-contained #thumbnail-carousel {
        flex: 0 0 90px;
    }

    .product-wrapper:not(.layout-contained) #thumbnail-carousel {
        position: absolute;
        top: 50%;
        right: -107px;
        transform: translateY(-50%);
    }

    .product-wrapper {
        max-height: 100vh;
        overflow: auto;
    }

    .product-item--sticky {
        position: sticky;
        -webkit-sticky: sticky;
        top: 0;
    }

    #thumbnail-carousel {
        padding: 0;
        max-width: 100%;
    }

    #thumbnail-carousel .splide__arrows--ttb .splide__arrow--prev {
        left: 50%;
        top: -2.5em;
    }

    #thumbnail-carousel .splide__arrows--ttb .splide__arrow--next {
        left: 50%;
        bottom: -2.5em;
    }

    .is-gallery .product__info-container {
        padding: var(--header-height, 56px) 16px 16px 124px;
    }

    .product__info-container {
        z-index: 1;
    }
}

@media screen and (min-width: 1280px) {
    .product__info-container {
        padding: 60px 0px
    }

    .is-gallery .product__info-container {
        padding: var(--header-height, 56px) 70px 16px 124px;
    }

    .layout-contained.is-gallery .product__info-container {
        padding-left: 124px;
    }
}

@media screen and (min-width: 1440px) {
    .product-wrapper:not(.layout-contained) .breadcrumbs {
        left: 56px;
    }
}

/* Product Tabs */
.product-tabs {
    gap: 0 1.5rem;
}

.product-tabs label {
    font-weight: 600;
    color: #000000;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
}

.product-tabs input:checked+label {
    border-bottom: 2px solid #000000;
}

.tabs__content {
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    order: 1;
}

.tabs__content p:last-child {
    margin-bottom: 0;
}

.product-tabs input:checked+label+.tabs__content {
    height: auto;
    visibility: visible;
    opacity: 1;
}

/* Pickup */
pickup-availability:not(pickup-availability:empty) {
    display: block;
    min-height: 80px;
    margin-bottom: 1rem;
}

pickup-availability-preview p {
    margin-bottom: .5rem;
}

.pickup-availability__store {
    font-size: 12.8px;
    line-height: 16px;
    margin-bottom: .25rem;
}

.pickup-availability__store .text-bold {
    font-weight: 600;
}

.pickup-availability__time {
    font-size: 10.24px;
    line-height: 16px;
}

pickup-availability-drawer.drawer {
    justify-content: flex-end;
}

pickup-availability-drawer .drawer__header {
    margin: 24px auto;
}

pickup-availability-drawer .drawer__header p {
    margin-bottom: 0;
    font-size: 12.8px;
    line-height: 16px;
    text-transform: capitalize;
}

pickup-availability-drawer.drawer ul {
    padding: 1rem;
}

pickup-availability-drawer li {
    padding: .5rem 0 1rem;
    border-top: 1px solid #737373;
}

pickup-availability-drawer li h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.modal--active .product__info-container {
    z-index: 3;
}

#ModalTrigger {
    font-size: 12.8px;
    line-height: 16px;
    margin-bottom: 1rem;
}


/* Product recommendations + Recently view products */
.section-product-recommendations .product-recommendations__heading,
.section-recently-viewed-products h2 {
    margin-bottom: 40px;
}

.section-product-recommendations .product-recommendations__grid,
.section-recently-viewed-products .collection__grid {
    flex-wrap: nowrap;
    gap: 50px 1px;
}

@media screen and (min-width: 769px) {

    .section-product-recommendations .product-recommendations__grid,
    .section-recently-viewed-products .collection__grid {
        flex-wrap: wrap;
    }

    .section-recently-viewed-products .collection__grid {
        justify-content: center;
    }

    .section-product-recommendations .product-recommendations__grid li,
    .section-recently-viewed-products .collection__grid li {
        flex: 0 0 calc(var(--grid-layout, 25%) - 1px);
    }
}

.product-thumbnails-mobile {
    display: none;
    padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .product__zoom #zoom-carousel li::after {
        background: linear-gradient(rgba(0, 0, 0, .15) 2%, rgba(0, 0, 0, 0) 10%);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
    }

    .product__zoom #zoom-carousel li::before {
        background: linear-gradient(to top, rgba(0, 0, 0, .15) 2%, rgba(0, 0, 0, 0) 10%);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
    }

    #zoom-carousel .zoom-carousel__paging {
        color: white;
    }

    .section-product-recommendations .page-width {
        padding-right: 0;
    }

    .section-product-recommendations .product-recommendations__grid,
    .section-recently-viewed-products .collection__grid {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        gap: 1px;
        padding-left: 15px;
    }

    .section-product-recommendations .product-recommendations__grid li,
    .section-recently-viewed-products .collection__grid li {
        flex: 0 0 75%;
    }

    .section-product-recommendations .splide ul:not(.splide__pagination) li {
        flex: 0 0 100%;
    }

    .section-product-recommendations .splide:not(.splide__pagination--alt) {
        padding-bottom: 0px;
    }

    .product-thumbnails-mobile {
        display: block;
    }

    .product-thumbnails-mobile__inner {
        gap: 1px;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .product-thumbnails-mobile__inner li {
        flex: 0 0 calc(50% - 1px);
    }

    .product-thumbnails-mobile__inner li img {
        height: 100%;
        object-fit: cover;
    }
}

/* Product size/color flyout */
.product__info .product__info-subdetails .color-select-drawer .variant-options fieldset.size,
.product__info .product__info-subdetails .color-select-drawer .variant-options fieldset.material,
.product__info .product__info-subdetails .size-select-drawer .variant-options fieldset.size .form__label,
.product__info .product__info-subdetails .size-select-drawer .variant-options fieldset.color,
.product__info .product__info-subdetails .size-select-drawer .variant-options fieldset.material {
    display: none;
}

drawer-dialog .drawer.size-select-drawer .variant-options {
    margin: 0;
}

drawer-dialog .drawer.size-select-drawer .drawer-content {
    padding: 0 !important;
    padding-bottom: 150px !important;
}

drawer-dialog .drawer.size-select-drawer .drawer-content .product-form__input {
    margin: 0;
    gap: 0;
}

drawer-dialog .drawer.size-select-drawer .drawer-content .product-form__input label {
    padding: 18px;
    border: none;
    border-bottom: 1px solid var(--color-border);
    max-height: 50px;
    gap: 5px;
    position: relative;
}

drawer-dialog .drawer.size-select-drawer .drawer-content .size.product-form__input .variant-option-wrapper:first-of-type label {
    border-top: 1px solid var(--color-border);
}

drawer-dialog .drawer.size-select-drawer .drawer-content .product-form__input .variant-option-wrapper {
    max-height: 50px;
}

drawer-dialog .drawer.size-select-drawer .drawer-content .product-form__input input:checked+label {
    background-color: white !important;
    color: #000 !important;
}

drawer-dialog .drawer.size-select-drawer .drawer-content .product-form__input input:checked+label::before {
    content: "•";
    font-size: 16px;
    vertical-align: bottom;
}

drawer-dialog .drawer .product-form {
    padding: 0px;
}

.size-guide-trigger-flyout {
    margin: 15px 15px;
    cursor: pointer;
}

.atc-active {
    position: fixed;
    top: 56px;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 5;
}

.color-select-drawer .color-swatches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.color-select-drawer .color-swatches .metafield-color {
    border: 1px solid var(--color-border);
    padding: 8px;
    text-decoration: none;
}

.color-select-drawer .color-swatches .metafield-color.selected {
    border: 1px solid black;
}

.color-select-drawer .color-swatches .metafield-color .metafield-color-name {
    margin-top: 8px;
    display: block;
}

.color-select-drawer .color-swatches .metafield-color.selected .metafield-color-name::before {
    content: "•";
    font-size: 16px;
    vertical-align: bottom;
    padding-right: 3px;
}

.product__info-subdetails .size-select-drawer .product-form__input:not(.color) input[type=radio].sold-out+label {
    border-color: var(--color-border);
    pointer-events: all;
    color: #808080;
}

.product__info-subdetails .size-select-drawer .product-form__input:not(.color) input[type=radio]:checked.sold-out+label {
    color: #808080 !important;
}

.product__info-subdetails .size-select-drawer .product-form__input:not(.color) input[type=radio].sold-out+label::after,
.product__info-subdetails .size-select-drawer .product-form__input:not(.color) input[type=radio].sold-out+label::before {
    content: none;
}

.product__info-subdetails .size-select-drawer .product-form__input:not(.color) input[type=radio]:checked.sold-out+label::before {
    content: "•";
    font-size: 16px;
    vertical-align: bottom;
    color: black;
    border: none;
    width: auto;
    position: unset;
    transform: none;
}

.product__info-subdetails .variant-option-labels {
    right: 15px;
    position: absolute;
}

.product__info-subdetails .variant-option-labels__last-item,
.product__info-subdetails .variant-option-labels__sold-out {
    display: none;
}

@media (max-width: 768px) {
    .drawer__container .product-form {
        width: 100%;
    }
}

/* Color swatch section */
.color-swatches-block {
    padding: 120px 0;
    border-bottom: 1px solid var(--color-border);
}

.color-swatches-block .color-swatches {
    gap: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 16px;
}

.color-swatches-block .color-swatches-block__title {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 40px;
    ;
}

.color-swatches-block .metafield-color {
    flex: 0 0 calc(25% - 1px);
    text-decoration: none;
}

.color-swatches-block .metafield-color .metafield-color-name {
    margin: 8px 0 3px;
    display: block;
}

.color-swatches-block .metafield-color.selected .metafield-color-name::before {
    content: "•";
    font-size: 16px;
    vertical-align: bottom;
    padding-right: 3px;
}

.color-swatches-block .color-swatches::-webkit-scrollbar {
    height: 10px;
}

.color-swatches-block .color-swatches::-webkit-scrollbar-track {
    box-shadow: transparent;
    background-color: transparent;
}

.color-swatches-block .color-swatches::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    outline: none;
}

@media (max-width: 768px) {
    .color-swatches-block {
        padding: 40px 0px;
    }

    .color-swatches-block .color-swatches::-webkit-scrollbar {
        display: none;
    }

    .color-swatches-block .color-swatches {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
        padding: 0 20px;
    }

    .color-swatches-block .color-swatches .metafield-color {
        flex: 0 0 calc(50% - 1px);
    }
}

/* Sticky ATC */
.drawer--open .sticky-atc {
    z-index: 0;
}

.sticky-atc {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: -3px;
    cursor: pointer;
    right: 0px;
    width: 500px;
    z-index: 2;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    transform: translateY(-100%);
    height: 58px;
    transition: transform .3s ease-in-out;
}

.sticky-atc img {
    max-width: 30px;
    max-height: 40px;
    object-fit: cover;
}

.sticky-right-content {
    gap: 6px;
}

.sticky-atc .sticky-left-content .price {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-left: 10px;
}

.sticky-atc svg path {
    fill: white;
}

.sticky-atc.active {
    transform: translateY(100%);
}


@media (max-width: 768px) {

    .sticky-atc {
        width: 100%;
    }
}

/* Size charts */
.size-guide-drawer table {
    display: none;
}

.size-guide-drawer table.active {
    display: table;
}

.size-guide-drawer .size-guide-selector__btn {
    width: 50px;
    background-color: white;
    border: 0.5px solid var(--color-border);
    height: 33px;
    padding: 0;
    border-right: none;
    display: none;
}

.size-guide-drawer .size-guide-selector__btn:last-child {
    border-right: 0.5px solid var(--color-border);
}

.size-guide-drawer .size-guide-selector__btn.active {
    background-color: rgba(217, 217, 217, .5);
}

.size-guide-selector__units-in,
.size-guide-selector__units-cm {
    cursor: pointer;
    margin: 0px 6px;
    padding-bottom: 4px;
}

.size-guide-selector__units-label {
    margin-right: 10px;
}

.size-guide-selector__units {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 16px;
}

.size-guide-selector__units span.active {
    border-bottom: 1px solid black;
}

/* Size chart tables */
.size-guide-drawer table th,
.size-guide-drawer table td {
    border: 1px solid var(--color-border);
}

.size-guide-drawer table td {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.size-guide-drawer table th {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
}

.size-guide-drawer .table-container {
    overflow-x: auto;
}

.size-guide-drawer table th,
.size-guide-drawer table td {
    min-width: 132px;
    max-width: 132px;
    height: 50px;
    padding-left: 15px;
}

.size-guide-drawer table tr {
    cursor: pointer;
}

.size-guide-drawer table tr:hover {
    background: rgba(0, 0, 0, 0.03);
}

.size-guide-drawer table {
    border-collapse: collapse;
}

drawer-dialog .size-guide-drawer .drawer__container-inner .drawer-content {
    padding: 40px 0px;
}

.size-guide-drawer__image {
    padding-top: 50px;
}

.no-size-guide {
    padding: 0 40px;
}

@media (max-width: 1200px) {
    .sticky-atc {
        top: -14px;
    }
}